

/* You can add global styles to this file, and also import other style files */
/* body {
        background-image: url(https://wallpaperaccess.com/full/257381.jpg);
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
<<<<<<< HEAD
    } */
 body{
    background-image: url('https://wallpaperaccess.com/full/257381.jpg');
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-position: center;
    background-blend-mode:darken;
}

h1 h2 h3 h4 h5 h6 {
    text-decoration: solid;
    color: bisque;
}

* {
    box-sizing: border-box;
}

.row {
    margin-left: -5px;
    margin-right: -5px;
}

.column {
    float: left;
    width: 33%;
    padding: 5px;
}


label {
    color: bisque;    
}
=======
    } */
>>>>>>> stuff
