<div [ngStyle]="{'background' : 'url(https://wallpaperaccess.com/full/257381.jpg)'}">
    <br>
    <br>

    <div class="center">
        <a type="button" style="margin-right:150px;" href="http://localhost:4200/homepage-host"
            class="btn btn-primary btn-lg">Home</a>

        <a type="button" style="margin-left:150px" href="http://localhost:4200//registerbounty"
            class="btn btn-primary btn-lg">Register New Bounty</a>

        <a type="button" style="margin-left:150px" href="http://localhost:4200/profile-host"
            class="btn btn-primary btn-lg">Profile</a>

        <a type="button" style="margin-left:150px" href="http://localhost:4200/login"
            class="btn btn-primary btn-lg">Logout</a>
    </div>

    <br>
    <br>

    <div class="center">
        <h1>Confirmed Bounties</h1>
    </div>

    <br>
    <br>

    <!--Check Current Personal Active Bounties-->
    <div class="row">
        <div class="column">
            <form>
                <label>List of Completed Bounties</label>
                <table class="table table-striped table-white" id="#">
                    <thead>
                        <tr>
                            <th scope="col">Currency</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Due Date</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Codename</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--<tr *ngFor="let bounty of bountyList">
                        <td><input type="radio" name="something" [value]="bounty.bountyid" (click)="whateverMethod(thisForm)">></td>
                        <td>{{bounty.currency}}</td>
                        <td>{{bounty.amount}}</td>
                        <td>{{bounty.time}}</td>
                        <td>{{criminal.firstname}}</td>
                        <td>{{criminal.lastname}}</td>
                        <td>{{criminal.codename}}</td>
                    </tr> -->
                    </tbody>
                </table>
            </form>
        </div>

        <!--Criminal Data -->
        <div class="column">
            <h5 class="center">Criminal Data</h5>
            <br>
            <form style="padding: 20px">
                <br>
                <div class="row gx-3 mb-3">
                    <!-- Description of Capture -->
                    <div class="status_of_bounty">
                        <label class="description">Description of Capture</label> <br>
                        <div>
                            <textarea name="description_of_capture" id="description_of_capture" class="control-form"
                                rows="4" cols="55" formControlName="capture"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row gx-3 mb-3">
                    <div class="status_of_bounty">
                        <p>Preferred Status:</p>
                        <div class="row">
                            <div class="column">
                                <input type="radio" id="alive" name="preferred_status" value="alive" formControlName="preferid">
                                <label for="alive">Alive</label><br>
                            </div>
                            <div class="column">
                                <input type="radio" id="dora" name="preferred_status" value="dead_or_alive" formControlName="preferid">
                                <label for="dora">Dead or Alive</label><br>
                            </div>
                            <div class="column">
                                <input type="radio" id="dead" name="preferred_status" value="dead" formControlName="preferid">
                                <label for="dead">Dead</label>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>

                <div class="row gx-3 mb-3">
                    <div class="status_of_bounty">
                        <p>Status of Bounty:</p>
                        <div class="row">
                            <div class="column">
                                <input type="radio" id="alive" name="preferred_status" value="alive" formControlName="turninid">
                                <label for="alive">Alive</label><br>
                            </div>
                            <div class="column">
                                <input type="radio" id="dead" name="preferred_status" value="alive" formControlName="turninid">
                                <label for="dead">Dead </label><br>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>

                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <label class="amount_for_bounty" for="inputbounty">Amount for Bounty:</label>
                        <input class="form-control" id="inputbounty" type="text"
                            placeholder="Enter amount for bounty" formControlName="amount">
                    </div>
                </div>
                <br>
           
        

        <!--Post Bounty Hunter-->
        
            <h5 class="center" style="padding-right: 180px;">Bounty Hunter Details</h5>
            <br>
            

                <div class="row gx-3 mb-3">
                    <!-- First Name-->
                    <div class="col-md-6 column">
                        <label class="first_name" for="inputFirstName">First name:</label>
                        <input class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name" formControlName="firstname"
                            > <br>

                        <p>Or</p>

                        <label class="last_name" for="inputLastName">CodeName:</label>
                        <input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name" formControlName="codename">
                    </div>

                    <!-- Last Name-->
                    <div class="col-md-6 column">
                        <label class="last_name" for="inputLastName">Last name:</label>
                        <input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name" formControlName="lastname">
                    </div>
                </div>


            </form>
            <br>
            <form action="" style="width: 70%; padding: 20px">
                <div class="col-md-6">
                    <label class="amount_for_bounty" for="inputbounty">Amount for Bounty:</label>
                    <input class="form-control" id="inputbounty" type="number" placeholder="Enter your amount" formControlName="amount">
                </div>

                <br>

                <div>
                    <button class="btn btn-primary" id="submit_amount" (click)="confirmBounty(confirmBountyForm)">Submit</button>
                </div>
                <br>
            </form>
        </div>

    </div>
    <br><br><br><br>
</div>