<br>
<br>

<div class="center">
    <a type="button" style="margin-left:50px;" href="http://localhost:4200/" class="btn btn-primary btn-lg">Home</a>

    <a type="button" style="margin-left:100px" href="http://localhost:4200/newaccount"
        class="btn btn-primary btn-lg">New Account</a>
</div>

<br>
<br>

<div class="choose_account">
    <div class="center">
        <form>
            <input (click)="hunterButton()" type="radio" id="user_login" name="login" value="user_login">
            <label for="bhunter_login" style="padding-bottom: 20px; margin-right: 40px;">Bounty Hunter
                Login</label>
            <input (click)="hostButton()" type="radio" id="host_login" name="login" value="host_login">
            <label for="bhost_login" style="padding-bottom: 20px;">Business Host Login</label>
        </form>
    </div>
</div>

<div *ngIf="isHunter" class="center">
    <div class="column">
        <div class="row">
            <form [formGroup]="userForm">
                <label *ngIf="wronglogin" id="wronglogin" style="color: crimson" class="form-label">Bad Login</label>
                <div class="mb-3">
                    <label class="form-label">Username:</label> <br>
                    <input type="text" id="username" class="form-control fi" formControlName="username"
                        placeholder="Enter username" value="">
                </div>
            </form>
        </div>
        <div class="center">
            <div class="mb-3">
                <label class="form-label">Password:</label> <br>
                <input type="password" id="password" class="form-control fi" formControlName="password"
                    placeholder="Enter password" value="">
            </div>
            <div class="center">
                <br>
                <!-- onclick="window.open('https://www.angularjswiki.com') -->
                <button class="btn btn-danger" id="loginButton" (click)="userlogin(userForm)">Login</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isHost" class="center">
    <div class="column">
        <div class="row">
            <form>
                <div class="mb-3">
                    <label class="form-label">Username:</label> <br>
                    <input type="text" id="username" class="form-control fi" formControlName="username"
                        placeholder="Enter username" value="">
                </div>
            </form>
        </div>

        <div class="center">
            <div class="mb-3">
                <label class="form-label">Password:</label> <br>
                <input type="password" id="password" class="form-control fi" formControlName="password"
                    placeholder="Enter password" value="">
            </div>
            <div class="center">
                <br>
                <!-- onclick="window.open('https://www.angularjswiki.com')  -->
                <button class="btn btn-primary" id="loginButton" (click)="hostlogin(hostForm)">Login</button>
            </div>
        </div>
    </div>
</div>

<div class="center">
    <span class="login-form-copy">Don't have an account? <br />
        <a href="http://localhost:4200/newaccount" class="login-form_sign-up center">Sign up</a>
    </span>
</div>

<br>

<div class="center">
    <br>
    <a href="http://localhost:4200/forgotpassword" class="link-danger">Forgot your password?</a>
</div>

<br>
<br>


<br>

<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br>