/* body {
                background-image: url(https://wallpaperaccess.com/full/257381.jpg);
                overflow: hidden;
                background-repeat: no-repeat;
                background-position: 50% 0;
                background-size: cover;
            } */

.center {
    display: flex;
    justify-content: center;
}

form {
    background-color: coral;
    padding: 20px;
}


.flat {
    width: 50%;
    padding: 5px;
}

* {
    box-sizing: border-box;
}

.row {
    margin-left: -5px;
    margin-right: -5px;
}

.column {
    float: left;
    width: 33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th,
td {
    text-align: left;
    padding: 16px;
}