<div class="center">
    <form [formGroup]="hostForm">
        <label for="uname">Username:</label>
        <input type="text" id="uname" name="uname" placeholder="Enter your Username" formControlName="husername">
        <label style="margin-left:105px" for="email">Email:</label>
        <input type="text" id="email" name="email" placeholder="Enter your Email" formControlName="hemail">
        <br><br>
        <label style="margin-left:5px" for="password">Password:</label>
        <input type="text" id="password" name="password" placeholder="Enter your Password" formControlName="hpassword">


        <br><br>

        <div class="row gx-3 mb-3">
            <!-- Organization -->
            <div class="col-md-6">
                <label class="organization" for="inputorganization">Organization:</label>
                <input class="form-control" id="inputAssociates" type="text" placeholder="Enter your Organization" formControlName="organization"
                    value="">
            </div>
            <!-- Representative -->
            <div class="col-md-6">
                <label class="representative" for="inputRepresentative">Representative:</label>
                <input class="form-control" id="inputRepresentative" type="text" formControlName="representative"
                    placeholder="Enter your Representative" value="">
            </div>
        </div>
<!--  <div class="center">
            <div class="profile">
                <label style="margin-left:105px" for="avatar">Upload An Avatar</label>
                <input type="file" id="avatar" name="avatar" accept="avatar/png, avatar/jpeg">
            </div>
        </div> -->

        <br>

        <div class="center">
            <br>
            <button class="btn btn-danger" id="loginButton" (click)="updateHost(hostForm)">Submit</button>
        </div>

    </form>
