<div class="center">
    <form [formGroup]="hostForm">
        <label for="uname">Edit Username:</label>
        <input type="text" id="uname" name="uname" [placeholder]="loggedhost.husername" formControlName="husername"
            [value]="loggedhost.husername">
        <label style="margin-left:105px" for="email">Edit Email:</label>
        <input type="text" id="email" name="email" [placeholder]="loggedhost.hemail" formControlName="hemail">
        <br><br>
        <label style="margin-left:5px" for="password">Edit Password:</label>
        <input type="text" id="password" name="password" placeholder="Enter Your New Password"
            formControlName="hpassword">


        <br><br>

        <div class="row gx-3 mb-3">
            <div class="col-md-6">
                <label class="organization" for="inputorganization">Edit Organization:</label>
                <input class="form-control" id="inputAssociates" type="text" [placeholder]="loggedhost.hassociation"
                    formControlName="hassociation">
            </div>
            <div class="col-md-6">
                <label class="representative" for="inputRepresentative">Edit Representative:</label>
                <input class="form-control" id="inputRepresentative" type="text" formControlName="representative"
                    [placeholder]="loggedhost.representative">
            </div>
        </div>
        <!--  <div class="center">
            <div class="profile">
                <label style="margin-left:105px" for="avatar">Upload An Avatar</label>
                <input type="file" id="avatar" name="avatar" accept="avatar/png, avatar/jpeg">
            </div>
        </div> -->

        <br>

        <div class="center">
            <br>
            <button class="btn btn-dark" id="loginButton" (click)="updateHost(hostForm)">Submit</button>
            <button class="btn btn-danger" id="loginButton" (click)="cancelProfile()">Cancel</button>
        </div>

    </form>
</div>