<div>
    <form>
        <label>Top Ten Highest Bounties</label>
        <table style="margin-right:150px" class="table table-striped table-white" id="bhunter">
            <thead>
                <tr>
                    <th scope="col">Hunters Name</th>
                    <th scope="col">Hunter Email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of hunterList">
                    <td>{{user.huntername}}</td>
                    <td>{{user.uemail}}</td>
                </tr>
            </tbody>
        </table>
    </form>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
</div>