<div>
    <form class="center">
        <div class="center">
            <label>Top Bounty Hunters</label> <br>
            <button class="btn btn-dark" (click)="toggleTable()">{{isVisable ? 'Hide Table' : 'Show Table'}}</button>
        </div>
        
        <table *ngIf="isVisable" style="margin-left:50px" class="table table-striped table-white" id="bounties">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <!-- <th scope="col">Finished Bounties</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let hunter of bhunterList">
                    <td>{{hunter.huntername}}</td>
                    <td>{{hunter.uemail}}</td>
                    <!-- <td>Number Of Completed Bounties</td> -->
                </tr>
            </tbody>
        </table>
    </form>
</div>
