
<div class="center">  
<a type="button" style="margin-right:150px" href="http://localhost:4200/homepage" class="btn btn-primary btn-lg">Home</a>
<a type="button" href="http://localhost:4200/" class="btn btn-primary btn-lg">Upload a Bounty</a>
<a type="button" style="margin-left:150px" href="http://localhost:4200/uploadbounty" class="btn btn-primary btn-lg">Logout</a>
</div>

<br><br>



    <div class="center">
        <h1>Bounty Hunter Profile</h1>
    </div>

    <br>

    <div class="center">
        <button class="btn btn-primary" id="edit">Edit Profile</button> <br>
    </div>
    <br>
    <br>

    <!--Bounty Hunter Personal History-->
    <div class="row">
    <div class="column">
        <form>
            <table class="table table-striped table-white" id="#">
                <thead>
                    <tr>
                        <th scope="col" class="center">Bounty Hunter Personal History</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

        <!--Bounty Hunter Profile-->
        <div class="column">
            <form>
                <div class="row gx-3 mb-3">
                    <!-- First Name-->
                    <div class="col-md-6">
                        <label class="first_name" for="inputFirstName">First name:</label>
                        <input class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name"
                            value="">
                    </div>
                    <!-- Last Name-->
                    <div class="col-md-6">
                        <label class="last_name" for="inputLastName">Last name:</label>
                        <input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name"
                            value="">
                    </div>
                </div>

                <br>
                <h5>Or</h5>
                <br>

                <div class="row gx-3 mb-3">
                    <!-- Code name-->
                    <div class="col-md-6">
                        <label class="codename" for="inputCodeName">CodeName:</label>
                        <input class="form-control" id="inputCodeName" type="text" placeholder="Enter your code name"
                            value="">
                    </div>
                    <!-- Email Address -->
                    <div class="col-md-6">
                        <label class="email_address" for="inputemailaddress">Email Address:</label>
                        <input class="form-control" id="inputemailaddress" type="text"
                            placeholder="Enter your email address" value="">
                    </div>
                </div>

                <div class="row gx-3 mb-3">
                    <!-- First Name -->
                    <div class="col-md-6">
                        <label class="username" for="inputUsername">Username:</label>
                        <input class="form-control" id="inputUsername" type="text" placeholder="Enter your username"
                            value="">
                    </div>
                    <!-- Password -->
                    <div class="col-md-6">
                        <label class="password" for="inputPassword">Password:</label>
                        <input class="form-control" id="inputPassword" type="text" placeholder="Enter your password"
                            value="">
                    </div>

                    <!-- Confirm Password -->
                    <div class="col-md-6" style="margin-left: auto">
                        <label class="c_password" for="input_c_password">Confirm Password:</label>
                        <input class="form-control" id="input_c_password" type="text" placeholder="Confirm the password"
                            value="">
                    </div>
                </div>


                <!--  Upload an image -->
                <div class="row gx-3 mb-3">
                    <label for="avatar">Upload an Image</label>
                    <input type="file" id="img" name="img" accept="image/png, image/jpeg">
                </div>

                <div class="center">
                    <button class="btn btn-primary" id="submit_profile">Submit</button> <br>
                </div>

            </form>
        </div>

        <!--Bounty Hunter Private Request-->
        <div class="column">
            <form>
            <table class="table table-striped table-white" id="#">
                <thead>
                    <tr>
                        <th scope="col" class="center">Bounty Hunter Private Request</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </form>
        </div>
   

    </div>
