<div class="center">  
    <a type="button" style="margin-right:250px" href="http://localhost:4200/homepage" class="btn btn-primary btn-lg">Home</a>
    <a type="button" style="margin-left:250px" href="http://localhost:4200/profile" class="btn btn-primary btn-lg">Profile</a>
    </div>
    
    <br><br>
    
    <div class="center">  
        <h2>Upload a Bounty</h2>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Confirmed Bounties</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <body>
        <!--List of Active Bounty Hunters-->
        <div>
            <table class="table table-striped table-white" id="#">
                <thead>
                    <tr>
                        <th scope="col">List of Active Bounty Hunters</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr *ngFor="let # of #">
                        <td>{{#}}</td> 
                    </tr> -->
                </tbody>
            </table>
        </div>
    
        <!--Criminal Data-->
        <div>
            <form action="">
                <div class="ciminal_data">
                    <label class="first_name">First Name</label> <br>
                    <input type="text">
                </div>
    
                <div class="ciminal_data">
                    <label class="last_name">Last Name</label> <br>
                    <input type="text">
                </div>
    
                <div class="ciminal_data">
                    <label class="description">Physical Description:</label> <br>
                    <div>
                        <textarea name="physical_description" id="physical_description" class="control-form"></textarea>
                    </div>
                </div>
    
                <!--OR-->
    
                <div class="ciminal_data">
                    <label class="codename">CodeName</label>
                    <input type="text">
                </div>
    
                <div class="ciminal_data">
                    <label class="height">Height</label>
                    <input type="text">
                </div>
    
                <div class="ciminal_data">
                    <label class="weight">Weight</label>
                    <input type="text">
                </div>
    
                <div class="ciminal_data">
                    <label class="species">Species</label>
                    <input type="text">
                </div>
    
                <div class="ciminal_data">
                    <label class="organization">Organization</label>
                    <input type="text">
                </div>
    
                <div class="ciminal_data">
                    <label class="associates">Associates</label>
                    <input type="text">
                </div>
    
                <div class="ciminal_data">
                    <label for="avatar">Upload A Image</label>
                    <input type="file" id="img" name="img" accept="image/png, image/jpeg">
                </div>
    
            </form>
        </div>
    
        <!--Status of Bounty-->
        <div>
            <form action="">
    
                <div class="status_of_bounty">
                    <p>Preferred Status:</p>
                    <input type="radio" id="alive" name="preferred_status" value="ALIVE">
                    <label for="alive">Only Alive</label><br>
                    <input type="radio" id="dora" name="preferred_status" value="DORA">
                    <label for="dora">Dead or Alive</label><br>
                    <input type="radio" id="dead" name="preferred_status" value="DEAD">
                    <label for="dead">Only Dead</label>
                </div>
    
                <div class="status_of_bounty">
                    <label class="time_limit">Time Limit</label>
                    <input type="text">
                </div>
    
                <div class="status_of_bounty">
                    <label class="amount_for_bounty">Amount for Bounty</label>
                    <input type="text">
                </div>
    
                <div class="status_of_bounty">
                    <label class="description">Description of Crime</label> <br>
                    <div>
                        <textarea name="description_of_crime" id="description_of_crime" class="control-form"></textarea>
                    </div>
                </div>
    
            </form>
        </div>
    
    </body>