
<div class="column">
    <h5 class="center">Bounty Status</h5>
    <br>
    <form [formGroup]="bountyForm">
        <div class="status_of_bounty">
            <label class="center">Criminal Data</label>
            <br>
            <div class="col-md-6">
                <label class="first_name" for="inputFirstName">Name:</label>
                <input class="form-control" id="criminalfk" type="text" placeholder="Enter bounty name" formControlName="criminalfk">
            </div>
            <div class="row">
                <div class="column">
                    <input type="radio" id="alive" name="turninid" value="Alive" formControlName="turninid">
                    <label for="alive">Alive</label><br>
                </div>
                <div class="column">
                    <input type="radio" id="dead" name="turninid" value="Dead" formControlName="turninid">
                    <label for="dead">Dead</label>
                </div>
            </div>
        </div>
        <br>
        <div class="center" style="padding-right: 100px;">
            <button class="btn btn-primary" id="submit_turnin">Submit</button>
        </div>
        <br>
    </form>
</div>