<br>
<div class="center">
    <h1>Submit a Bounty</h1>
</div>
<br>
<div class="center">
    <h5>Bounty Status</h5>
    <br>
</div>
<div class="center">
    <form style="padding: 20px" class="center">
        <br>
        <div class="center">
            <div class="row">
                <label class="first_name" for="inputFirstName">Name:</label>
                <input class="form-control" id="inputFirstName" type="text" placeholder="Enter Bounty name"
                    formControlName="crimname">
            </div>
            <div class="row">
                <label class="first_name" for="inputFirstName">Status of Criminal:</label>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <input type="radio" id="alive" name="turnin_status" value="Alive" formControlName="turninid">
                        <label for="alive">Alive</label><br>
                    </div>
                    <div class="row gx-3 mb-3">
                        <input type="radio" id="dead" name="turnin_status" value="Dead" formControlName="turninid">
                        <label for="dead">Dead</label>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row gx-3 mb-3" style="padding-right: 100px;">
            <button class="btn btn-dark" id="submit_turnin">Submit</button> <br>
            <!-- <button class="btn btn-primary" id="cancel_profile" (click)="cancelSubmit()">Cancel</button> <br> -->
        </div>
        <br>
    </form>
</div>