<br> <br>
<div class="center">
    <a type="button" style="margin-right: 50px;" href="http://localhost:4200/homepage"
        class="btn btn-primary btn-lg">Home</a>

    <a type="button" style="margin-left:50px; margin-right:50px;" href="http://localhost:4200/newaccount"
        class="btn btn-primary btn-lg">New Account</a>

    <a type="button" style="margin-left:50px;" href="http://localhost:4200/login"
        class="btn btn-primary btn-lg">Login</a>
</div>
<br><br><br><br><br>

<form class="regi_forms ">
    <div class="center">
        <h2 style="color: beige;">Forgot Your Password?</h2>
    </div>

    <br>

    <div class="center">
        <div class="mb-3">
            <label class="form-label">Please Enter Your Email Address:</label>
            <input type="text" id="email" class="form-control fi" formControlName="email">
        </div>
    </div>

    <br>



    <div class="center">
        <br>
        <button class="btn btn-primary" id="forgotButton">Submit</button>
    </div>

</form>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>