/* You can add global styles to this file, and also import other style files */

    body{
        /* background-image: url('https://wallpaperaccess.com/full/257381.jpg'); */
        background-image: url('https://cdn.wallpapersafari.com/97/54/3YOpz5.jpg');
        font-family: Arial, Helvetica, sans-serif;
        background-size: cover;
        background-position: center;
        background-blend-mode:darken;
    }

    div{
        text-align: center;
    }

    form {
        text-align: center;
        background-color: coral;
        padding: 20px;
    }

    h1, h2, h3, h4, h5, h6 {
        text-align: center;
        text-decoration: solid;
        color: bisque;
    }

    * {
        box-sizing: border-box;
    }

    .row {
        margin-left: -5px;
        margin-right: -5px;
    }

    .column {
        float: left;
        width: 33%;
        padding: 5px;
    }
    
    .center {
        display: flex;
        justify-content: center;
    }

    label {
        color: bisque;    
    }

    .flat {
        width: 50%;
        padding: 5px;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th,
    td {
        text-align: left;
        padding: 16px;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }






/* Clearfix (clear floats) */



