<br>
<br>
<br>

<div class="center">
    <button class="btn btn-dark" style="margin-right: 100px;" id="edit_profile" (click)="profile()">Profile</button>

    <button class="btn btn-dark" style="margin-right: 50px;" id="submit_bounty" (click)="submitBounty()">Submit
        Bounty</button>

    <button class="btn btn-dark" style="margin-left: 100px;" id="logout" (click)="logout()">Logout</button>
</div>

<br>
<br>
<br>

<h1 class="star-wars">Welcome: {{user.huntername}}</h1>

<br><br><br>

<div class="center">
    <div class="column">
        <app-active-bounty-list></app-active-bounty-list>
    </div>
    <br>
    <div class="column">
        <app-top-bh-list></app-top-bh-list>
    </div>
</div>
<br><br>

<app-turnin-bounty *ngIf="submit"></app-turnin-bounty>

<app-edit-profile *ngIf="bhprofile"></app-edit-profile>


