<p>bounty-hunter works!</p>

<button class="btn btn-primary" id="cancel_profile" (click)="editBHProfile()">Edit Profile</button> <br>

<button class="btn btn-primary" id="cancel_profile">Finish Bounty</button> <br>

<button class="btn btn-primary" id="cancel_profile" (click)="editBHProfile()"></button> <br>

<app-edit-profile *ngIf = "bhprofile"></app-edit-profile>
<br>
<app-active-bounty-list *ngIf = "actbountlist"></app-active-bounty-list>
<br>
<app-turnin-bounty></app-turnin-bounty>
<br>
<app-finished-bounty-list></app-finished-bounty-list>



