
<button class="btn btn-primary" id="cancel_profile" (click)="editBHProfile()">Profile</button> <br>

<button class="btn btn-primary" id="cancel_profile" (click)="turnin()">Turnin Bounty</button> <br>

<button class="btn btn-primary" id="cancel_profile" (click)="editBHProfile()">Past Completed Bounties</button> <br>

<button class="btn btn-primary" id="cancel_profile" (click)="logout()">Logout</button> <br>

<app-edit-profile *ngIf = "bhprofile"></app-edit-profile>
<br>
<app-active-bounty-list *ngIf = "actbountlist"></app-active-bounty-list>
<br>
<app-turnin-bounty *ngIf = "bountyturnin"></app-turnin-bounty>
<br>
<app-finished-bounty-list *ngIf = "finbountlist"></app-finished-bounty-list>


