
<br>
<br>

<div class="center">
    <a type="button" style="margin-right:150px" href="http://localhost:4200/homepage"
        class="btn btn-dark">Home</a>
    <a type="button" style="margin-left:150px" href="http://localhost:4200/login"
        class="btn btn-dark">Login</a>
</div>

<br><br>

<div class="center">
    <h2 class="star-wars"><b>Create a New Account</b></h2>
</div>

<br>

<div class="center">
    <input type="radio" id="hunternewaccount" name="newaccount" (click) = "newHunter()">
    <label style="margin-right:50px" for="hunter">&nbsp;&nbsp;New Bounty Hunter</label>

    <input type="radio" id="hostnewaccount" name="newaccount" (click) = "newHost()">
    <label for="host">New Business Owner</label>
</div>

<br><br>

<app-new-bounty-hunter *ngIf = "isHunter"></app-new-bounty-hunter>
<app-new-host *ngIf = "isHost"></app-new-host>