<br>
<br>
<div class="center">
    <a type="button" style="margin-right:75px" href="http://localhost:4200/uploadbounty"
        class="btn btn-primary btn-lg">Upload a Bounty</a>

    <a type="button" style="margin-left:75px" href="http://localhost:4200/profile"
        class="btn btn-primary btn-lg">Profile</a>

    <a type="button" style="margin-left:250px" href="http://localhost:4200/login"
        class="btn btn-primary btn-lg">Logout</a>
</div>

<br> <br>

<div class="center">
    <h1 style="color: bisque;"><b>Star Hunters</b></h1>
</div>

<!--List of top ranked Bounties-->
<div class="center">
    <div>
        <form class="regi_forms" style="margin-right: 20px;">
            <label class="center">
                <h3>Top Ten Highest Bounty Hunters</h3>
            </label>
            <table style="margin-right:150px" class="table table-striped table-white" id="bhunter">
                <thead>
                    <tr>
                        <th scope="col" class="row_table" id="firstname">First Name</th>
                        <th scope="col" class="row_table" id="lastname">Last Name</th>
                        <th scope="col" class="row_table" id="codename">Codename</th>
                        <th scope="col" class="row_table" id="rank">Rank</th>
                    </tr>
                </thead>
                <tbody>
                    <!--  <tr *ngFor="let user of userList">
                    <td>{{user.firstname}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.codename}}</td>
                    <td>{{user.rank}}</td>
                </tr> -->
                </tbody>
            </table>
        </form>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
    </div>
    <br>
    <div>
        <form class="regi_forms">
            <label class="center">
                <h3>Top Ten Highest Bounties</h3>
            </label>
            <table class="table table-striped table-white" id="bounties">
                <thead>
                    <tr>
                        <th scope="col" class="row_table" id="currency">Currency</th>
                        <th scope="col" class="row_table" id="amount">Amount</th>
                        <th scope="col" class="row_table" id="due_date">Due Date</th>
                        <th scope="col" class="row_table" id="first_name1">First Name</th>
                        <th scope="col" class="row_table" id="last_name1">Last Name</th>
                        <th scope="col" class="row_table" id="codename1">Codename</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr *ngFor="let bounty of bountyList">
                        <td>{{bounty.currency}}</td>
                        <td>{{bounty.amount}}</td>
                        <td>{{bounty.time}}</td>
                        <td>{{criminal.firstname}}</td>
                        <td>{{criminal.lastname}}</td>
                        <td>{{criminal.codename}}</td>
                    </tr> -->
                </tbody>
            </table>
        </form>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
    </div>
</div>