<form>

  <head>
    <style>
      body {
        background-color: coral;
      }
    </style>
  </head>

  <br> <br>

  <div class="center">
    <a type="button" style="margin-right:150px" href="http://localhost:4200/newaccount"
      class="btn btn-primary btn-lg">New Account</a>
    <a type="button" style="margin-left:150px" href="http://localhost:4200/login" class="btn btn-primary btn-lg">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Login&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
  </div>

  <br> <br>

  <div class="center">
    <h1><b>Star Hunters</b></h1>
  </div>

  <!--List of top ranked Bounties-->
  <div class="center">
    <div>
      <table class="table table-striped table-white" id="#">
        <thead>
          <tr>
            <th scope="col">Highest Bounties</th>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <th scope="col">Deadliest Hunters</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let # of #">
                  <td>{{#}}</td>
              </tr> -->
        </tbody>
      </table>
      <br><br><br><br><br>
      <br><br><br><br><br>
      <br><br><br><br><br>
      <br><br><br><br>
    </div>
  </div>

</form>